:root {
    --sky-color: rgb(61, 192, 243);

}

body {

}

header {
    text-align: center;
    font-size: 60px;
    background-image: linear-gradient(var(--sky-color), white);
    font-weight: 600;
}

.searchBar {
    
}

#searchBtn {
    border-color: black;
    background-color: black;
    color: white;
}

#mainWeather {
    text-align: center;
}

#fiveDayForecast {
    text-align: center;
}

